* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Header {
    font-weight: bolder;
    text-align: center;
}

#MainWebsiteHeader {
    font-size: 50px;
    background-color: aqua;
}

.SubPageHeader {
    background-color: aqua;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}

#homebutton {
    color: black;
    background-color: aqua;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

