* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Header {
    font-weight: bolder;
    text-align: center;
}

#MainWebsiteHeader {
    font-size: 50px;
    background-color: aqua;
    display: block;
    margin: 0;
    margin-bottom: 0px;
    padding-bottom: 3px;
    padding-left: 20px;
    border-bottom: 2px solid black;
    text-align: left;
}

.headerbuttons {
 vertical-align: middle;
}

.SubPageHeader {
    background-color: aqua;
    margin-top: 0px;
    border-top: 0px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    font-style: italic;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid black;
}

#HomeTopImage {
    margin-top: 10px;
}


p {
    text-align: center;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
